In [1]:
import numpy as np
import pandas as pd
import project_functions1 as p1

In [2]:
pathRaw = '../data/raw/recent-grads.csv'
rawData = p1.load_raw(pathRaw)
rawData

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,0.637293,47,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,7,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,21,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,0.877960,2,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192

In [5]:
cdf = p1.process_data(pathRaw)
cdf = p1.group_by_majorCat(cdf)
cdf

,Major_category,Total,Men,Women,ShareWomen,Employed,Full_time,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,Agriculture & Natural Resources,75620.0,40357.0,35263.0,3.647407,63794,55585,15470,41891,3486,0.466352,316000,222000,410100
1,Arts,357130.0,134390.0,222740.0,4.829264,288114,207773,114791,153111,28228,0.721382,264500,175700,349300
2,Biology & Life Science,453862.0,184919.0,268943.0,8.220700,302797,240377,116736,165802,22854,0.852849,509900,372600,645200
3,Business,1302376.0,667852.0,634524.0,6.281573,1088742,988870,196936,790425,79877,0.923826,566000,435000,713000
4,Communications & Journalism,392601.0,131921.0,260680.0,2.633536,330660,273330,89817,214228,26852,0.302151,138000,105000,179900
5,Computers & Mathematics,299008.0,208725.0,90283.0,3.429494,237894,207545,53270,159156,18373,0.926816,470200,322200,639000
6,Education,559129.0,103526.0,455603.0,11.976120,479839,398059,120593,288031,24969,0.827232,517600,425450,617000
7,Engineering,537583.0,408307.0,129276.0,6.927772,420372,381867,85136,288952,29817,1.836682,1664100,1205100,2043000
8,Health,463230.0,75517.0,387713.0,9.541823,372147,294819,114592,228418,22213,0.791042,441900,314000,603000
9,Humanities & Liberal Arts,713468.0,272846.0,440622.0,9.476856,544118,416939,214030,295561,51101,1.215114,478700,352400,631100
10,Industrial Arts & Consumer Services,229792.0,103781.0,126011.0,2.446662,189043,151383,61122,114179,11526,0.336499,254400,187400,316000
11,Interdisciplinary,12296.0,2817.0,9479.0,0.770901,9821,8032,3173,6234,749,0.070861,35000,25000,44000
12,Law & Public Policy,179107.0,91129.0,87978.0,2.418244,144790,126940,38213,100454,13495,0.454024,211000,163200,275000
13,Physical Sciences,185479.0,95390.0,90089.0,5.086834,139231,112852,43444,85635,7880,0.465111,418900,283500,572900
14,Psychology & Social Work,481007.0,98115.0,382892.0,7.149573,380344,289000,137992,218105,33292,0.648583,270900,228000,349000
15,Social Science,529966.0,256834.0,273132.0,4.985662,401493,347141,121569,255219,42975,0.861559,336100,255200,451000

In [6]:
cdf.to_csv("../data/processed/data_prcessed1.csv")